:root {
  --success: #25d366;
  --cream: #ece5dd;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
::-webkit-scrollbar {
  display: none;
}
a {
  text-decoration: none;
  margin: 0.4rem;
  color: var(--cream);
}
header {
  padding: 1.2rem 0.5rem;
  text-align: center;
  color: var(--cream);
  background: linear-gradient(120deg, #567dbb 30%, #33a5da 70%);
  margin-bottom: .5rem;
}
header h1 {
  letter-spacing: 0.1rem;
  font-weight: 200;
}
main {
  min-height: calc(100vh - 140px);
}
.container {
  width: 70%;
  min-width: 300px;
  margin: 0 auto;
}
footer {
  padding: 0.8rem;
  text-align: center;
  background: #333;
  color: var(--cream);
}
footer span.heart {
  color: red;
}
form {
  padding: 1rem;
  border-radius: 0.5rem;
  background: var(--cream);
  box-shadow: 1px 1px 7px #444;
  max-width: 420px;
  margin: 0 auto;
}
form h2 {
  text-align: center;
  font-weight: 200;
  margin-bottom: 1rem;
}
form label {
  font-size: 0.76rem;
  font-weight: bold;
  text-transform: uppercase;
}
form input {
  width: 100%;
  padding: 0.4rem;
  border-radius: 0.3rem;
  margin-top: 0.5rem;
}
form small {
  font-size: 0.67rem;
}
form input[type="file"] {
  border: 1px solid #444;
}
form input[type="submit"] {
  border: 1px solid #444;
  background: linear-gradient(120deg, #3275e2 30%, #3336da 70%);
  color: white;
}
h3.chat-title {
  padding: 0.4rem;
  background: #333;
  color: var(--cream);
  text-align: center;
  font-weight: bold;
}
section {
  overflow: hidden;
  border-radius: 0.5rem;
  background: var(--cream);
  max-width: 520px;
  margin: 0 auto;
}
section .message {
  width: 70%;
  margin: 0.4rem;
  padding: 0.4rem;
  border-radius: 0.3rem;
  box-shadow: 1px 1px 3px #555;
  background: whitesmoke;
  color: #333;
}
.message.right {
  margin-right: auto;
}
.message.left {
  margin-left: auto;
  background: var(--success);
  color: whitesmoke;
}
.message.center {
  margin-left: auto;
  margin-right: auto;
}
.message .time {
  font-size: 0.75rem;
}
.message .chat {
  font-size: 0.9rem;
}
.flex {
  display: flex;
}
.flex-col {
  display: flex;
  flex-direction: column;
}
.flex-justify-between {
  display: flex;
  justify-content: space-between;
}