:root{
    --color2:#128c7e;
    --color3:#25d366;
    --color4:#dcf8c6;
    --color5:#34b7f1;
    --color6:#ece5dd;
    --color7:#075e54;
}

.card{
    display:block;
    width:70%;
    border:1px solid #25d366;
    margin:1px auto;
    padding: .4rem;
}
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
   /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
}
html {
    position: relative; 
}
  
::-webkit-scrollbar {
    display: none; 
}
a {
    text-decoration: none;
    margin: .4rem;
    color: #000; }
    footer a{
        color:#fff;
    }
header {
    padding: 1.2rem .5rem;
    border-bottom: 2px solid #000;
    text-align: center;
    color: #fff;
    background: #075e54; }
    header h1 {
      letter-spacing: .1rem;
      font-weight: 200; }
    header .btn {
      clear: left; }
  
main{
   /* background:linear-gradient(120deg,#a1c4fd 0%, #c2e9fb 100%);*/
    height:calc(100vh - 130px);
}
.container{
    position: relative;
    width:70%;
    margin:0 auto;
    padding:10px;
}
.container::after{
    content:"";
    display: table;
    clear:both;
}
footer {
    border-top: 2px solid #000;
    padding: .8rem;
    text-align: center;
    background: #333;
    color:var(--color6); }
footer span.heart{
    color:red;
}
.chat-container{
    border: 2px solid #dedede;
    background-color: #f1f1f1;
    border-radius: 5px;
    padding: 10px;
    display: block;
    margin: 10px;
    min-width:75%;  
}
.chat-container.send{
    color:#000;
    background: #25d366;
    float:right;
}
.chat-container.recieved{
    float:left;
    
}
.chat-container::after{
    content:"";
    display: table;
    clear:both;
}